<!doctype html>
<html>
    <head>    
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" />
        <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        {{ partial "social-cards.html" . }}

        <link href="/assets/css/roboto.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">
        <link rel="stylesheet" href="/assets/css/justifiedGallery.min.css"/>

        <base target="_blank"/>
    </head>
    <body>
        
        <div id="page" class="site style-{{ .Site.Params.layout_style }} palette-{{ .Site.Params.palette }}">
          {{ partial "header.html" . }}
          <div id="content" class="site-content">
            <div class="inner">
              <main id="main" class="site-main">
                {{ block "content" . }}{{ end }}

              </main><!-- .site-main -->
              {{ partial "footer.html" . }}
            </div><!-- .inner -->
          </div><!-- .site-content -->
        </div><!-- .site -->

        <!-- Scripts -->
        <script src="{{ "assets/js/plugins.js" | relURL }}"></script>
        <script src="{{ "assets/js/main.js" | relURL }}"></script>
        <script src="/js/jquery-1.11.0.min.js" type="text/javascript" defer></script>
        <script src="/js/jquery-migrate-1.2.1.min.js" type="text/javascript" defer></script>
        <script src="/js/jquery.justifiedGallery.min.js" type="text/javascript" defer></script>
        <script src="/js/photoswipe.after.html.js" type="text/javascript"></script>
        <script src="/js/flickr.fetch.js" type="text/javascript"></script>
    </body> 
</html>
