{{ define "content" }}

  <article class="post post-full">
    {{ if .Params.thumb_img_path }}
    <div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ .Params.thumb_img_path | relURL }}');">
      <div class="hero-text">
        <h1 class="post-title underline">{{ .Params.title }}</h1>
      </div>
    </div>
    {{else}}
    <header class="post-header">
      <h1 class="post-title underline">{{ .Params.title }}</h1>
    </header><!-- .post-header -->
    {{end}}
    <div class="post-meta">
      <span>{{.ReadingTime}} mins</span> - <time class="published"
      datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">{{ .Date | dateFormat "Monday, January 2, 2006" }}</time>
    </div>
    </footer>
    {{ if .Params.subtitle }}
    <div class="post-subtitle">
      {{ .Params.subtitle | safeHTML }}
    </div><!-- .post-subtitle -->
    {{ end }}

    <div class="post-content">
      {{ .Content }}
    </div><!-- .post-content -->
    <footer class="post-meta">
      <!-- .post-meta -->
  </article><!-- .post -->

  <!-- Next/previous post navigation TBD -->
  <!--
  <nav class="block read-next">
    <h2 class="block-title underline">Read Next</h2>
    <div class="post-feed">
      <article class="post">
        <div class="post-inside">
          <a class="post-thumbnail" href="#"><img src="#" alt="" /></a>
          <header class="post-header">
            <h3 class="post-title"><a href="#" rel="bookmark">Previous Post Title</a></h3>
          </header>
          <div class="post-content">
            <p>Previous post excerpt...</p>
          </div>
          <footer class="post-meta">
            <time class="published" datetime="">Previous post date</time>
          </footer>
        </div>
      </article>
      <article class="post">
        <div class="post-inside">
          <a class="post-thumbnail" href="#"><img src="#" alt="" /></a>
          <header class="post-header">
            <h3 class="post-title"><a href="#" rel="bookmark">Next Post Title</a></h3>
          </header>
          <div class="post-content">
            <p>Next post excerpt...</p>
          </div>
          <footer class="post-meta">
            <time class="published" datetime="">Next post date</time>
          </footer>
        </div>
      </article>
    </div>
  </nav>
  -->

{{ end }}
