
<div class="image-container" id="images1" itemscope="" itemtype="http://schema.org/ImageGallery" data-pswp-uid="1"></div>
<script type="text/javascript">
    $(document).ready(function(){
          prepareFlickrAlbum("72157712178490693", "images1", {{ .Get "count" }});
    });

</script>

<style>
.image-container{
    position: relative;
}
.photo-container{
    float: left;
    position: relative;
    overflow: hidden;
}
.image-thumb{
    position: relative;
    background-color: #eee;
}</style>
