
<div class="image-container" id="flickr-images" itemscope="" itemtype="http://schema.org/ImageGallery" data-pswp-uid="1"></div>
<script type="text/javascript">

document.addEventListener("DOMContentLoaded", function(event) { 
    prepareFlickrAlbum({{ .Get "album_id" }}, "flickr-images", {{ .Get "count" }});
});

</script>

<style>
.image-container{
    position: relative;
}
.photo-container{
    float: left;
    position: relative;
    overflow: hidden;
}
.image-thumb{
    position: relative;
    background-color: #eee;
}</style>
